{% extends "/plantillas/layout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='js/seleccionar_rutina.js') }}"></script>

<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Seleccionar Rutina</h3>
    </div>
    <div class="card-body">

        <form class="row g-3" action="/post_rutina" method="post">
            <div class="col-md-8">
                <label for="rutina-select" class="form-label">Rutinas:</label>
                <select id="rutina-select" class="form-select" name="get_rutina">
                    <option disabled selected>Seleccionar...</option>
                    {% for rutina in rutinas %}
                    <option value="{{ rutina['_id'] }}">{{ rutina['nombre'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-grid gap-2 col-md-4">
                <button type="submit" class="btn btn-primary btn-block">PRACTICAR</button>
            </div>
            <div id="posturas-container">
            </div>
        </form>
    </div>
</div>



{% endblock %}