{% extends "/plantillas/layout.html" %}

{% block content %}

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/socket.js') }}"></script>


<script>
    // Crear un nuevo elemento de audio
    var audio = new Audio('../static/voice/calibrar_instrucciones.mp3');

    // Reproducir el audio
    audio.play();

</script>

<div class="d-flex justify-content-center card mt-2 w-100 mx-auto">
    <div class="card-header text-center">
        <h3>Encontrar la Posición Correcta en la Cámara</h3>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-12 card-text fs-3" style="text-align: justify;">
                <p>Para optimizar tu práctica de yoga, es esencial que te ubiques adecuadamente frente a la cámara.
                    Asegúrate de que tu cuerpo completo sea visible en el encuadre, extendiendo tus manos hacia arriba,
                    tal como se ilustra en la imagen de referencia. Este paso es fundamental para determinar la
                    ubicación más apropiada dentro de tu espacio para realizar tu rutina de yoga. Te instamos a seguir
                    estas instrucciones con atención para garantizar los mejores resultados en tu práctica. 😊</p>
            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/referencia.jpg') }}" class="img-fluid rounded-start"
                    style="height: 100%; object-fit: contain; display: block; margin-left: auto; margin-right: auto;"
                    alt="refencia">
            </div>
            <div class="col-md-6">

                <img src="{{ url_for('calibrar_posicion') }}" class="img-fluid rounded-start"
                    style="height: 100%; object-fit: contain; ">
            </div>
        </div>

    </div>
</div>

{% endblock %}