{% extends "/plantillas/nav.html" %}

{% block content %}

<div class="card m-4">
  <div class="card-body">
    <!-- <h5 class="card-title fs-1 text-center">Yoga</h5> -->
    <img src="{{ url_for('static', filename='images/yoga.jpg') }}"
      class="card-img-top img-fluid w-50 rounded mx-auto d-block" alt="yoga">
    <p class="card-text fs-3 mt-5" style="text-align: justify;">
      El yoga es una práctica milenaria originada en la India que ha sido utilizada durante siglos para mejorar la salud
      física y mental. Con su énfasis en las prácticas de respiración y meditación, el yoga puede ayudar a reducir la
      ansiedad y mejorar el estado de ánimo. Además,
      el yoga puede mejorar las habilidades cognitivas, como el aprendizaje y la memoria, al fortalecer partes del
      cerebro que juegan un papel clave en estas funciones. En resumen, el yoga es una práctica beneficiosa para la
      salud mental que combina movimiento físico, respiración profunda, meditación y atención plena.</p>
  </div>
</div>

{% endblock %}